In [16]:
import pandas as pd
import json

# Cargar el archivo JSON
with open("data/Madrid_Renta_Per_Capita.json", "r", encoding="utf-8") as f:
    datos = json.load(f)

In [17]:
# Lista para guardar los resultados
madrid_datos = []

# Recorremos cada entrada del JSON
for entrada in datos:
    print(entrada)
    # Revisamos la sección de 'MetaData'
    for meta in entrada['MetaData']:
        # Buscamos los que contienen 'Madrid distrito'
        if "Madrid distrito" in meta["Nombre"]:
            distrito = meta["Nombre"]
            renta = entrada["Data"][0]["Valor"]  # asumimos que solo hay un valor
            madrid_datos.append({"Distrito": distrito, "Renta": renta})

{'COD': 'ADRH83527', 'Nombre': 'Acebeda, La distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344412, 'T3_Variable': 'Distritos', 'Nombre': 'Acebeda, La distrito 01', 'Codigo': '2800101'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 15715, 'Notas': [{'texto': 'Por no llegar al umbral poblacional requerido se presenta la renta media de los municipios de la comarca agraria con población menor de 100 habitantes.', 'Fk_TipoNota': 1, 'textoTipo': None}]}]}
{'COD': 'ADRH83525', 'Nombre': 'Ajalvir distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344414, 'T3_Variable': 'Distritos', 'Nombre': 'Ajalvir distrito 01', 'Codigo': '2800201'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 15283}]}
{'COD': 'ADRH83523', 'Nombre': 'Alameda del Valle distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344417, 'T3_Variable': 'Distritos', 'Nombre': 'Alameda del Valle distrito 01', 'Codigo': '2800301'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 18804}]}
{'COD': 'ADRH83521', 'Nombre': 'Álamo, El distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344419, 'T3_Variable': 'Distritos', 'Nombre': 'Álamo, El distrito 01', 'Codigo': '2800401'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 11672}]}
{'COD': 'ADRH83519', 'Nombre': 'Alcalá de Henares distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344424, 'T3_Variable': 'Distritos', 'Nombre': 'Alcalá de Henares distrito 01', 'Codigo': '2800501'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 15321}]}
{'COD': 'ADRH83517', 'Nombre': 'Alcalá de Henares distrito 02. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344448, 'T3_Variable': 'Distritos', 'Nombre': 'Alcalá de Henares distrito 02', 'Codigo': '2800502'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 12183}]}
{'COD': 'ADRH83515', 'Nombre': 'Alcalá de Henares distrito 03. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344486, 'T3_Variable': 'Distritos', 'Nombre': 'Alcalá de Henares distrito 03', 'Codigo': '2800503'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 14645}]}
{'COD': 'ADRH83513', 'Nombre': 'Alcalá de Henares distrito 04. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344503, 'T3_Variable': 'Distritos', 'Nombre': 'Alcalá de Henares distrito 04', 'Codigo': '2800504'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 17054}]}
{'COD': 'ADRH83663', 'Nombre': 'Alcalá de Henares distrito 05. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344521, 'T3_Variable': 'Distritos', 'Nombre': 'Alcalá de Henares distrito 05', 'Codigo': '2800505'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 14959}]}
{'COD': 'ADRH83661', 'Nombre': 'Alcobendas distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344554, 'T3_Variable': 'Distritos', 'Nombre': 'Alcobendas distrito 01', 'Codigo': '2800601'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 20706}]}
{'COD': 'ADRH83659', 'Nombre': 'Alcorcón distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344620, 'T3_Variable': 'Distritos', 'Nombre': 'Alcorcón distrito 01', 'Codigo': '2800701'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 14178}]}
{'COD': 'ADRH83657', 'Nombre': 'Alcorcón distrito 02. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344640, 'T3_Variable': 'Distritos', 'Nombre': 'Alcorcón distrito 02', 'Codigo': '2800702'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 16435}]}
{'COD': 'ADRH83655', 'Nombre': 'Alcorcón distrito 03. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344678, 'T3_Variable': 'Distritos', 'Nombre': 'Alcorcón distrito 03', 'Codigo': '2800703'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 13516}]}
{'COD': 'ADRH83653', 'Nombre': 'Alcorcón distrito 04. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344708, 'T3_Variable': 'Distritos', 'Nombre': 'Alcorcón distrito 04', 'Codigo': '2800704'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 14372}]}
{'COD': 'ADRH83725', 'Nombre': 'Aldea del Fresno distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344744, 'T3_Variable': 'Distritos', 'Nombre': 'Aldea del Fresno distrito 01', 'Codigo': '2800801'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 11707}]}
{'COD': 'ADRH83723', 'Nombre': 'Algete distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344746, 'T3_Variable': 'Distritos', 'Nombre': 'Algete distrito 01', 'Codigo': '2800901'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 17403}]}
{'COD': 'ADRH83721', 'Nombre': 'Alpedrete distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344756, 'T3_Variable': 'Distritos', 'Nombre': 'Alpedrete distrito 01', 'Codigo': '2801001'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 16659}]}
{'COD': 'ADRH83719', 'Nombre': 'Ambite distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344763, 'T3_Variable': 'Distritos', 'Nombre': 'Ambite distrito 01', 'Codigo': '2801101'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 11866}]}
{'COD': 'ADRH83717', 'Nombre': 'Anchuelo distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344765, 'T3_Variable': 'Distritos', 'Nombre': 'Anchuelo distrito 01', 'Codigo': '2801201'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 12722}]}
{'COD': 'ADRH83715', 'Nombre': 'Aranjuez distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344767, 'T3_Variable': 'Distritos', 'Nombre': 'Aranjuez distrito 01', 'Codigo': '2801301'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 13591}]}
{'COD': 'ADRH83713', 'Nombre': 'Aranjuez distrito 02. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344777, 'T3_Variable': 'Distritos', 'Nombre': 'Aranjuez distrito 02', 'Codigo': '2801302'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 13175}]}
{'COD': 'ADRH83711', 'Nombre': 'Aranjuez distrito 03. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344786, 'T3_Variable': 'Distritos', 'Nombre': 'Aranjuez distrito 03', 'Codigo': '2801303'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 13095}]}
{'COD': 'ADRH83709', 'Nombre': 'Aranjuez distrito 04. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344797, 'T3_Variable': 'Distritos', 'Nombre': 'Aranjuez distrito 04', 'Codigo': '2801304'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 14223}]}
{'COD': 'ADRH83707', 'Nombre': 'Arganda del Rey distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344803, 'T3_Variable': 'Distritos', 'Nombre': 'Arganda del Rey distrito 01', 'Codigo': '2801401'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 13003}]}
{'COD': 'ADRH83961', 'Nombre': 'Arroyomolinos distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344830, 'T3_Variable': 'Distritos', 'Nombre': 'Arroyomolinos distrito 01', 'Codigo': '2801501'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 16262}]}
{'COD': 'ADRH83959', 'Nombre': 'Atazar, El distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344845, 'T3_Variable': 'Distritos', 'Nombre': 'Atazar, El distrito 01', 'Codigo': '2801601'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 14461}]}
{'COD': 'ADRH83957', 'Nombre': 'Batres distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344847, 'T3_Variable': 'Distritos', 'Nombre': 'Batres distrito 01', 'Codigo': '2801701'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 15277}]}
{'COD': 'ADRH83955', 'Nombre': 'Becerril de la Sierra distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344849, 'T3_Variable': 'Distritos', 'Nombre': 'Becerril de la Sierra distrito 01', 'Codigo': '2801801'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 16144}]}
{'COD': 'ADRH83953', 'Nombre': 'Belmonte de Tajo distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344852, 'T3_Variable': 'Distritos', 'Nombre': 'Belmonte de Tajo distrito 01', 'Codigo': '2801901'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 12226}]}
{'COD': 'ADRH83951', 'Nombre': 'Berzosa del Lozoya distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344854, 'T3_Variable': 'Distritos', 'Nombre': 'Berzosa del Lozoya distrito 01', 'Codigo': '2802001'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 17556}]}
{'COD': 'ADRH83949', 'Nombre': 'Berrueco, El distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344856, 'T3_Variable': 'Distritos', 'Nombre': 'Berrueco, El distrito 01', 'Codigo': '2802101'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 14984}]}
{'COD': 'ADRH83947', 'Nombre': 'Boadilla del Monte distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344858, 'T3_Variable': 'Distritos', 'Nombre': 'Boadilla del Monte distrito 01', 'Codigo': '2802201'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 24748}]}
{'COD': 'ADRH83945', 'Nombre': 'Boalo, El distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344884, 'T3_Variable': 'Distritos', 'Nombre': 'Boalo, El distrito 01', 'Codigo': '2802301'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 16652}]}
{'COD': 'ADRH83943', 'Nombre': 'Braojos distrito 01. Dato base. Renta neta media por persona. ', 'T3_Unidad': 'Euros', 'T3_Escala': ' ', 'MetaData': [{'Id': 344888, 'T3_Variable': 'Distritos', 'Nombre': 'Braojos distrito 01', 'Codigo': '2802401'}, {'Id': 72, 'T3_Variable': 'Tipo de dato', 'Nombre': 'Dato base', 'Codigo': ''}, {'Id': 284048, 'T3_Variable': 'SALDOS CONTABLES', 'Nombre': 'Renta neta media por persona', 'Codigo': ''}], 'Data': [{'Fecha': '2022-01-01T00:00:00.000+01:00', 'T3_TipoDato': 'Definitivo', 'T3_Periodo': 'A', 'Anyo': 2022, 'Valor': 16188}]}

In [18]:
df_renta_x_capita = pd.DataFrame(madrid_datos)
df_renta_x_capita = df_renta_x_capita.iloc[1:].reset_index(drop=True)
df_renta_x_capita

              Distrito  Renta
0   Madrid distrito 01  20587
1   Madrid distrito 02  21383
2   Madrid distrito 03  25407
3   Madrid distrito 04  28140
4   Madrid distrito 05  30506
5   Madrid distrito 06  18062
6   Madrid distrito 07  27076
7   Madrid distrito 08  21947
8   Madrid distrito 09  26694
9   Madrid distrito 10  14375
10  Madrid distrito 11  12764
11  Madrid distrito 12  11430
12  Madrid distrito 13  11452
13  Madrid distrito 14  16437
14  Madrid distrito 15  17808
15  Madrid distrito 16  21766
16  Madrid distrito 17  11563
17  Madrid distrito 18  14274
18  Madrid distrito 19  14832
19  Madrid distrito 20  15902
20  Madrid distrito 21  20788